name: Build
on:
  workflow_call:

jobs:
  compile-difftest-so:
    strategy:
      matrix:
        os: ['ubuntu-20.04', 'ubuntu-22.04', 'ubuntu-24.04']
        cpu: ['xs', 'dual-xs']
        type: ['ref', 'ref-debug']
      fail-fast: false
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/openxiangshan/xs-env:${{ matrix.os }}
    continue-on-error: false
    name: Compile NEMU for (${{ matrix.cpu }}-${{ matrix.type }})
    timeout-minutes: 30
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup env
      run: |
        echo "NEMU_HOME=$GITHUB_WORKSPACE" >> $GITHUB_ENV

    - name: Compile dynamic library
      run: |
        make riscv64-${{ matrix.cpu }}-${{ matrix.type }}_defconfig
        make -j

    - name: Prepare artifact
      run: |
        mkdir -p artifact
        cp build/riscv64-nemu-interpreter-so artifact/nemu-${{ matrix.os }}-${{ matrix.cpu }}-${{ matrix.type }}.so

    - name: Archive artifacts
      uses: actions/upload-artifact@v4
      with:
        name: nemu-${{ matrix.os }}-${{ matrix.cpu }}-${{ matrix.type }}.so
        path: |
          artifact/nemu-${{ matrix.os }}-${{ matrix.cpu }}-${{ matrix.type }}.so
