name: CI

on:
  push:
    branches: [ intr-debug ]
  pull_request:
    branches: [ master ]

env:
  CI_WORKLOADS: /nfs/home/share/ci-workloads
  SPIKE_SO: ./ready-to-run/riscv64-spike-so
  NUTSHELL_SPIKE_SO: ./ready-to-run/riscv64-nutshell-spike-so

jobs:
  compile-difftest-so:
    runs-on: ubuntu-latest
    continue-on-error: false
    name: Compile difftest-so
    timeout-minutes: 10
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: compile in CentOS 7 docker
      run: |
        bash ./scripts/generate_so_from_docker.sh
    - name: archive difftest-so artifacts
      uses: actions/upload-artifact@v4
      with:
        name: difftest-so
        path: |
          artifact
